@font-face {
    font-family: 'Kanit-light';
    src: url(./Fonts/Kanit-Light.ttf)
}





@font-face {
    font-family: 'Kanit-bold';
    src: url(./Fonts/Kanit-bold.ttf)
}



* {
    color: antiquewhite;
    font-family: 'Kanit-bold';
}


body {
    width: 100% ;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;


}

nav {
    /*padreLIST-NAV*/

    width: 30%;
}

.list-nav {
    /*hijo del NAV*/
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin-top: 30px;



}

a {
    color: beige;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'kanit-light';


}

a:hover {
    background-color: rgb(134, 50, 50);
}

img {
    width: 10%;


}

.img-logo {
    margin-top: 50px;
}

.img2 {
    width: 500px;
    height: 500px;
    margin-right: 5%;


}


header {
    /*contenedorPADREdelNav*/
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 20);
    padding-bottom: 5%;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin-top: 20px;



}

.container-text {
    width: 50%;
    font-size: 20px;

}

.container-text h1 {
    font-size: 70px;
    font-family: 'kanit-light'

}

.container-text p {
    font-family: 'kanit-light';



}

.container-text button {
    width: 30%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #838B95;
    color: blanchedalmond;
    font-family: 'kanit-light';
    font-size: 30px;
    max-width: 200;
    min-width: 200px;
}

button:hover {
    background-color: rgb(134, 50, 50);
    border: none;
    cursor: pointer;

}


.section-info {
    background-color: rgb(134, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin: 0;
    padding: 0;

}

.section-info h2 {
    font-size: 3.3em;
    text-transform: uppercase;
    font-family: 'kanit-light';
    margin-top: 100px 0px 0px 0px;
    margin: 0;
    padding: 0;
}

.section-info h4 {
    font-size: 1.2em;
    font-family: 'kanit-light';
    text-transform: uppercase;
    margin-top: 100px 0px 0px 0px;





}


.logos-info {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;

}


.container-info-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-info-img p {
    font-family: 'Kanit-Light';

}

.container-info-img img {
    width: 100px;
}

.section-list {
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.section-list h2 {
    margin-top: 60px;
    font-family: 'kanit-light';
    font-size: 2.3em;
    text-transform: capitalize;
    text-transform: none;

}


.section-list button {
    width: 150px;
    height: 50px;
    background-color: #958383;
    font-family: 'kanit-light';
    border: none;
    border-radius: 10px;
    margin: 30px 30px;
    font-size: 25px;




}

button:hover {
    background-color: #863232;
}

.section-list img {
    width: 200px;


}



.cards-nft {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    background-color: rgb(46, 46, 46);
    width: 30%;
    box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    margin: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 5px;

}

.cards img {
    width: 100%;
}

.cards h3 {
    color: #863232;
    text-transform: uppercase;
    font-family: 'Kanit-Light';
    font-size: 20px;
    padding: 0;
    margin: 0;


}

.cards p {
    font-family: 'Kanit-Light';
    color: #838383;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
}







@font-face {
    font-family: 'Kanit-light';
    src: url(./Fonts/Kanit-Light.ttf)
}





@font-face {
    font-family: 'Kanit-bold';
    src: url(./Fonts/Kanit-bold.ttf)
}



* {
    color: antiquewhite;
    font-family: 'Kanit-bold';
}



body {
    background-color: rgb(255, 255, 255);
    margin: 0px;


}

nav {
    /*padreLIST-NAV*/

    width: 30%;
}

.list-nav {
    /*hijo del NAV*/
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin-top: 30px;



}

a {
    color: beige;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'kanit-light';


}

a:hover {
    background-color: rgb(134, 50, 50);
}

img {
    width: 10%;


}

.img-logo {
    margin-top: 50px;
}

.img2 {
    width: 500px;
    height: 500px;
    margin-right: 5%;



}

header {
    /*contenedorPADREdelNav*/
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 20);
    padding-bottom: 5%;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin-top: 20px;



}

.container-text {
    width: 50%;
    font-size: 20px;

}

.container-text h1 {
    font-size: 70px;
    font-family: 'kanit-light'

}

.container-text p {
    font-family: 'kanit-light';



}

.container-text button {
    width: 30%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #838B95;
    color: blanchedalmond;
    font-family: 'kanit-light';
    font-size: 30px;
    max-width: 200;
    min-width: 200px;
}

button:hover {
    background-color: rgb(134, 50, 50);
    border: none;
    cursor: pointer;

}


.section-info {
    background-color: rgb(134, 50, 50)q;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin: 0;
    padding: 0;

}

.section-info h2 {
    font-size: 3.3em;
    text-transform: uppercase;
    font-family: 'kanit-light';
    margin-top: 100px 0px 0px 0px;
    margin: 10% 0px 0px 0px;
    padding: 0;
    letter-spacing: 5px;
}

.section-info h4 {
    font-size: 1.2em;
    font-family: 'kanit-light';
    text-transform: uppercase;
    margin-top: 10% 0px 0px 0px;
    margin-top: 0px;






}


.logos-info {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10% 0px 10% 0px;


}


.container-info-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-info-img p {
    font-family: 'Kanit-Light';

}

.container-info-img img {
    width: 100px;
}

.section-list {
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.section-list h2 {
    margin-top: 60px;
    font-family: 'kanit-light';
    font-size: 2.3em;
    text-transform: capitalize;
    text-transform: none;
    color: #2c2c2c;
    letter-spacing: 5px;

}


.section-list button {
    width: 100px;
    height: 50px;
    background-color: #958383;
    font-family: 'kanit-light';
    border: none;
    border-radius: 10px;
    font-size: 15px;
    max-width: 5em;
    max-height: 5em;




}

button:hover {
    background-color: #863232;
}

.section-list img {
    width: 200px;


}



.cards-nft {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    background-color: rgb(46, 46, 46);
    width: 30%;
    box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    margin: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 5px;

}

.cards img {
    width: 100%;
}

.cards h3 {
    color: #863232;
    text-transform: uppercase;
    font-family: 'Kanit-Light';
    font-size: 1em;
    padding: 0;
    margin: 0;


}

.cards p {
    font-family: 'Kanit-Light';
    color: #838383;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;

}

.clientes {
    background-color: rgb(134, 50, 50)q;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin: 0;
    padding: 0;
}



.clientes {

    background-color: rgb(85, 68, 68)q;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin: 0;
    padding: 0;


}

.container-clientes {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10% 0px 10% 0px;

}

.clientes {

    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes h3 {
    font-family: "kanit-light";
    margin: 0;
    padding: 0;




}

.img-clientes {
    width: 200px;
    height: 200px;
    background-color: rgb(134, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin: 0;
    padding: 0;



}

.img-clientes img {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #2c2c2c;
    box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;




}

.img-clientes h3 {
    font-family: "Kanit-Light";
    padding: 0;
    margin: 0;


}


.img-clientes img:hover {
    width: 100%;
    cursor: pointer;
    background-color: #863232;

}


.pie-pagina {
    display: flex;
    width: 100%;
    background-color: #2c2c2c;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

}

.container-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin: 0;
    width: 50%;

}


.container-logos h3 {
    font-family: 'Kanit-Light';
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 10px;

}

.container-logos li {
    font-family: 'kanit-light';
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
    list-style: none;
    padding-right: 60%;

}

.container-logos li:hover {
    cursor: pointer;
    background-color: #863232;
}

.logos-awesome {
    width: 10%;
    margin: 0px;
    padding: 0px;
}

.container-logos i {
    display: flex;
    margin: 20px;
    font-size: 20px;
}





.pie-pagina img {
    margin: 20px 20px 20px;
    width: 20%;
}

.copyright {
    background-color: #2c2c2c;
    width: 100%;
    display: flex;
    justify-content: center;
}


.copyright p {
    background-color: #2c2c2c;
    font-family: "Kanit-Light";
    letter-spacing: 10px;
    font-size: 10px;
    text-transform: uppercase;
}





@media only screen and (max-width: 880px) {
     body {
        width: 100%;
        background-color:#141414;
     }

    .img2 {
        display: none !important;
    }

    .list-nav {
        width: 100%;
    }

    .section-info h2 {
        width: 90%;
        font-size: 40px;
        

    }

    .section-info h4 {
        width: 100%;
        font-size: 15px;
        padding-left: 40px;
    }

    .logos-info {
        width: 150%;
        height: 150%;
        flex-direction: column;
        
        
    }

    .clientes h3 {
        font-size: 15px;
        padding-left: 25px;

    }
    .clientes h2 {
        font-size: 40px;
        padding-bottom: 29px;

    }

    nav {
        width: 100%;
    }
}



